* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.body {}

.TimeDate {


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}


.links {
    padding-top: 100px;
}